.container {
  padding: 0 2rem;
  max-width: 1920px;
  margin: 0 auto;
}

.main {
  padding: 4rem 0;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (max-width: 992px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .container {
    padding: 0 0.5rem;
  }
  .main {
    padding: 2rem 0;
  }
  .title {
    font-size: 3rem;
  }
}
