.container {
  padding: 0 2rem;
}

.main {
  padding: 4rem 0;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
